body {
    margin: 0;
    background: #efeff5
}

html,
body,
.main {
    height: 100%;
    width: 100%;
}


.coverFlex {
    display: flex;
    flex-direction: column;
}

#forHide{
    transition: 0.3s;
}
#banner {
    width: 100%;
    height: 480px;
    overflow: hidden;
    background: url('img/bannerMyBoard.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 27%;
    position: absolute;
    z-index: 0;
    transition: 0.2s ease-out;
    animation: banner 0.45s;

}

@keyframes banner {
    0% {
        transform: translate(0%, -30%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}


/*
#editMenu{
    width: 100%;
    height: 0px;
    background: rgba( 0, 0, 0, 0.8 );
    position: fixed;
    bottom: 0;
    transition: 0.125s;
}
*/

.editBoard {
    margin-right: 10px;
    cursor: pointer;
}

.friends {
    margin-right: 10px;
    cursor: pointer;
}

#tabTopper {
    width: 100%;
    height: 50px;
    background: rgba( 0, 0, 0, 0.3);
    /*    background: rgba( 255, 255, 255, 0.25 );*/
    display: flex;
    overflow: hidden;
    animation: tabTopAnime 0.5s;
    transition: 0.3s;
    position: fixed;
    top: 0;
    z-index: 1;
}



@keyframes tabTopAnime {
    0% {
        height: 0px;
    }
    100% {
        height: 50px;
    }
}

.bookmavksTop {
    font-size: 16px;
    font-family: sans-serif;
    /*    color:#212121;*/
    width: 60px;
    height: 80%;
    display: flex;
    align-items: center;
    background: rgba( 0, 0, 0, 0.328);
    padding: 0 12px;
    border-radius: 8px;
    margin-right: 10px;
    cursor: pointer;
    justify-content: center;
    user-select: none;
}

.bookmavksTop:hover {
    animation: bmkHover 3s infinite;
}

@keyframes bmkHover {
    0% {
        background: rgba( 81, 81, 198, 1);
    }
    50% {
        background: rgba( 130, 211, 69, 1);
    }
    100% {
        background: rgba( 81, 81, 198, 1);
    }
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;


}

.TextHome {
    font-size: 20px;

    color: white;

    cursor: pointer;
    font-family: 'Prompt';
    font-weight: bolder;
    user-select: none;
}

.profileTop {
    margin-right: 10px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgProfile {
    border-radius: 50px;
    border: 2.5px solid white;
    cursor: pointer;

}

.home a {
    text-decoration: none;
}

.coverTapTop {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    color: white;
    align-items: center;
}

.inputBoard {
    outline: none;
    border: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-left: 50px;
    padding-left: 12px;
    box-sizing: border-box;
    width: 400px;
    height: 72%;
    font-size: 16px;
    transition: 0.125s;
}

@media (max-width:935px) {
    .inputBoard {
        width: 300px;
    }
}

@media (max-width:835px) {
    .inputBoard {
        width: 200px;
    }
}





::placeholder {
    font-family: 'tahoma', 'sans-serif';
    opacity: 0.6;
}

input:focus::-webkit-input-placeholder {
    color: #c09999;
}

.submitBoard {
    font-size: 20px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 72%;
    outline: none;
    border: none;
    background: white;
    cursor: pointer;
    padding-right: 12px;

}

#logoTop {
    position: absolute;
    bottom: 5px;
    left: 17px;
    transition: 0.3s;
}

#logoTop2 {
    position: absolute;
    bottom: 5px;
    left: 17px;
}

.proBoard {
    margin-top: 358px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    transition: 0.3s;


}

#twstimg {
    animation: twst 0.4s;
}

@keyframes twst {
    0% {
        transform: scale(0);

    }
    100% {
        transform: scale(1);
    }
}


.nameProfile {
    font-family: 'Prompt';
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
}

.achiev {
    margin-right: 10px;
    cursor: pointer;
}

.write-about {
    display: flex;
    align-items: center;
    text-align: center;
    width: 600px;
    
    font-size: 16px;
    padding: 6px;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;

}

.write-about input {
    display: flex;
    text-align: center;
    outline: none;
    border: none;
    width: inherit;
    height: inherit;
    font-size: 16px;
    color: #494949;
    font-size: 18px;
    background:none; 
}

.boardProfile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.mg-12 {
    margin: 8px;
}


#forHide {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.boardInside1 {
    width: 90%;
    height: 500px;
    display: flex;
    justify-content: center;
    background: white;
    margin-top: 30px;
    border-radius: 25px;
}

.widB {
    display: flex;
    width: 33.33%;
    align-items: center;
    margin-top: 50px;
    font-size: 20px;
    font-family: 'Prompt';
    flex-direction: column;
}

.tHE {
    cursor: pointer;
    user-select: none;
}

#CreateLine1,
#CreateLine2,
#CreateLine3 {
    height: 4px;
    width: 60%;
    background: pink;
    transition: 0.3s;
}

.chooseUpper{
    display: flex;
    user-select: none;
    
}
#seeAll, #goToVideo{
    margin-top: 60px;
}

.edCU{
    font-family: 'Prompt';
    font-size: 18px;
    cursor: pointer;
    padding: 16px;
}

.whiteBoard{
    background: white;
    border-radius: 50px;
    margin-right: 6px;
    
}
.blackBoard{
    background: #3f3f3f;
    border-radius: 50px;
    color: white;
    margin-left: 6px;
}

.footer{
    margin-top: 50px;
}

.BoardMenu{
    height: 100%;
    width: 100%;
/*
    padding-top: 100px;
    box-sizing: border-box;
*/
  
    
}
.edBM{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 50px 0px;
    
}

.bmMenu{
    width: 280px;
    height: 96%;
    margin-left: 20px;
    background: white;
    border-radius: 6px;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}



.edChoose{
    font-size: 16px;
    font-family: 'Prompt';
 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 0px;
    user-select: none;
    cursor: pointer;
    transition: 0.08s;
}

.WriterMenu:hover{
    background: #91b3fc;
    color: white;
}
.VideoMenu:hover{
    background: #3f3f3f;
    color: white;
}

.BoardTopper{
    font-family: 'Prompt';
    font-size: 16px;
    margin-bottom: 22px;
    cursor: pointer;
    user-select: none;
	
}

.lineDown{
    width: 80%;
    height: 2px;
    background: #dbdbdb;
    margin-top: 20px;
}


#bgDarkBoard{
   width: 100%;
    height: 100%;
    background: rgba( 0, 0, 0, 0.0);
    position: absolute;
    z-index: 0;
    display: none;
    transition: 0.3s;
}


#forHideBoardMenu{
    transform: translate(-50%,0%) scale(0);
    transition: 0.3s;
    display: none;
    
}