.p-slidebar {
    height: 100%;
    background: white;
    position: fixed;
    z-index: 1005;
    transition: 0.3s;
    /*    -moz-box-shadow: 0 10px 18px 0 rgba(0,0,0,0.8);*/
    box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.8);
    overflow: scroll;
    display: none;
}


.p-slidebar::-webkit-scrollbar {
    width: 5px;
}


.p-slidebar::-webkit-scrollbar-track {
    background: none;

}


.p-slidebar::-webkit-scrollbar-thumb {
    background: #888;

}


.p-slidebar::-webkit-scrollbar-thumb:hover {
    background: #696986;

}


/*
.bg-sp{
    width: 100%;
    height: 100%;
    background: #3c2424;
    position: relative;
    z-index: 6;
    
}*/

#bg-dark {
    width: 100%;
    position: fixed;
    z-index: 999;
    background: #000000;
    transition: 0.45s;
    opacity: 0;
}

#bg-dark2 {
    width: 100%;
    position: fixed;
    z-index: 6;
    background: #000000;
    transition: 0.45s;
    opacity: 0;
}


.nav-sticky {
    position: sticky;
    top: 0;
    z-index: 99999;
}

.bg-side-nav img {
    width: 568px;
    position: absolute;
    z-index: 0;
}

.profile-side img {
    position: relative;
    z-index: 1;
    width: 187px;
    top: 222px;
    left: 18px;
    display: block;
    border-radius: 100px;
}

.profile-side-top {
    position: relative;
    z-index: 1000;
    width: 568px;
    height: 420px;
    background: #ffffff;
    position: relative;
    border-bottom: 3px solid #e4e2f7;
    /*    animation: border-bg-side 5s ease-out infinite;*/
}


/*
@keyframes border-bg-side {
    0% {
        border-bottom: solid 7px #2355c1;
    }
    50% {
        border-bottom: solid 7px #cbd12d;
    }
    100% {
        border-bottom: solid 7px #2355c1;
    }
}
*/

.side-name {
    position: absolute;
    top: 247px;
    left: 244px;
    color: white;
    font-size: 22px;
    z-index: 2
}

.side-name h3 {
    color: white;
    margin: 0;
}

.bg-opa-side {
    width: 568px;
    height: 100px;
    position: absolute;
    background: linear-gradient(to top, rgba( 0, 0, 0, 0.7) 0%, rgba( 0, 0, 0, 0.2) 100%);
    z-index: 1;
    top: 230px;
}

.side-follow {
    position: absolute;
    color: white;
    top: 291px;
    left: 245px;
    z-index: 2;
    font-size: 18px;
}

.side-follower {
    position: absolute;
    color: white;
    top: 291px;
    left: 375px;
    z-index: 2;
    font-size: 18px;
}

.side-menu {
    display: flex;
    position: relative;
    top: 154px;
    left: 202px;
    width: 360px;
    height: 66px;

}


.Cu-Us-none {
    cursor: pointer;
    user-select: none;
}



.book-side {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 66px;
    border-radius: 7px;
    transition: 0.3s;
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
}

.book-side:hover {
    transition: 0.3s;
    background: #f3f2ff;
}

.mark-side {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 105px;
    height: 66px;
    border-radius: 7px;
    transition: 0.3s;
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
}

.mark-side:hover {
    transition: 0.3s;
    background: #f3f2ff;
}

.fri-side {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 66px;
    border-radius: 7px;
    transition: 0.3s;
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
}

.fri-side:hover {
    transition: 0.3s;
    background: #f3f2ff;
}

.side-num {
    margin-left: 5px;
    color: #515151
}


.aboutme {
    display: flex;
    position: relative;
    height: 125px;
    width: 100%;
    border-bottom: 3px solid #e4e2f7;
}

.about-text {
    font-family: 'Tahoma';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    font-weight: bolder;
    font-size: 16px;
    white-space: nowrap;
    flex-direction: column;
}

.line-side {
    display: flex;
    width: 3px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.line-about {
    width: 2px;
    height: 80%;
    background: #e4e2f7;
}

.write-about {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 16px;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
}

.write-about input {
    display: flex;
    text-align: center;
    outline: none;
    border: none;
    width: inherit;
    height: inherit;
    font-size: 16px;
}



.submit-about {}

.paper-plane {
    width: 22px;
    margin-bottom: 9px;
    background: #7171cf;
    border-radius: 30px;
    padding: 2px;
    transform: 0.3s;
    /*    animation: paper-plane-bg 5s ease-out infinite;*/
}

/*
@keyframes paper-plane-bg{
    0%{
        background: #7171cf;
    }
    50%{
        background: #9eca6c;
    }
    100%{
        background: #7171cf;
    }
    
}
*/

.display-type-side {
    height: 40px;
    width: inherit;
    background: #e5eaf5;
    display: flex;

}

.display-size-side3 {}

.style-dis {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3333%;
    height: 100%;
}

#SpaceUse {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1000;
    margin-left: 568px;
    padding-right: 568px;
    padding-bottom: 65px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

#SpaceUse2 {
    height: 90%;
    width: 93%;
    position: relative;
    z-index: 1002;
    background: black;
    background: white;
    border-radius: 6px;
    transform: scale(0) translate(-80%, 0%);
    transition: 0.3s;
    left: 1000px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 0px 18px 0 rgba(0, 0, 0, 0.8);

}

#SpaceUse3 {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1001;
}

.bSlide {
    width: 100%;
    height: 60px;
    overflow: hidden;
    display: flex;
    border-top: 1px solid #e7e7e8;

}

.imgBs {
    width: 100%;
    position: relative;
    bottom: 120px;
    filter: blur(120px) brightness(130%);

}

.bSlideIMG {
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 0;
    height: 54px;
    background: #e7e7e8
}

.logoRight {
    width: 257px;
    position: relative;
    ;
    z-index: 1;
    display: flex;


}


/*test font*/


/*test font*/

.edRight {
    width: 80px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    transform: 0.6s
}

.edRight3 {
    width: 96px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    transform: 0.6s
}



#imgRightBook,
#imgRightMarks,
#imgRightFri {
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
}

#onHov1,
#onHov2,
#onHov3 {
    position: absolute;
    z-index: 0;
    bottom: 0;
    display: none;
}

#imgR1,
#imgR2,
#imgR3 {
    position: relative;
    z-index: 1;
    transition: 0.3s;
}

.rSlide {

    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 7px
}

.xRight {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bolder;
    font-family: 'Prompt';
    transition: 0.3s;
    margin: 2px;
}


.xTextRight {
    margin: 0;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

#RbackToMain {
    position: relative;
    z-index: 1;
}

#onCAnimate1,
#onCAnimate2,
#onCAnimate3 {
    position: absolute;
    z-index: 0;
    width: 35px;
    height: 35px;
    background: #8c8c8c;
    transition: 0.3s;
    border-radius: 50px;
    transform: scale(0);
}

.myBoardRight {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 67px;
    position: absolute;
    background: #4967bf;
    right: 0px;
    bottom: 0px;
    animation: myBoardAnimate 0.3s;
    color: white;
    font-size: 20px;
    animation: bgChangeAnimate 6s infinite;
  transition: 0.3s;
    
}

@keyframes bgChangeAnimate {
    0%{
         background: #4967bf;
    }
    50%{
         background: #5fcf52;
    }
    100%{
         background: #4967bf;
    }
}

@keyframes myBoardAnimate{
    0%{
        bottom: 10px;
    }
    100%{
        bottom: 0px;
    }
}

.myBoardRight:hover{
    filter: brightness(120%);
        
}


.menuCreator {
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.lineRightM {
    height: 85%;
    width: 2px;
    background: #cda8ea;
    margin: 0 16px;
}
#creatorShowMenu{
    width: 100%;
    height: 100%;
    display: none;
}

.SpaceCreator{
    width: 100%;
    height: 100%;
    position: absolute;
    padding-left: 568px;
    box-sizing: border-box;
    overflow: hidden;
    padding-bottom: 64px;
     position: absolute;
    z-index: 1003;
    display: flex;
    flex-direction: column;
    transform: scale(1);
    transition: 0.3s;
    
    
}

.CreatorSlide1{
    width: 100%;
    height: 50%;
    display: flex;
}


.CreatorSlide2{
  width: 100%;
    height: 50%;
    display: flex;
}

.SpaceC1,.SpaceC2,.SpaceC3,.SpaceC4{
    display: flex;
    width: 100%;
    height: 100%;
}

.SpaceC1{
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px 12px 12px 0;
    box-sizing: border-box;
}


.csBookShow{
    width: 150px;
    height: 150px;
    background: #c65151;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    cursor: pointer;
   
}
.writerLogoR{
    width: 80px;
}
.blogLogoR{
    width: 80px;
}

.csBlogShow{
    width: 150px;
    height: 150px;
    background: #3867cb;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    cursor: pointer;
}

.SpaceC2{
    align-items: flex-end;
    padding: 0px 0px 12px 12px;
    box-sizing: border-box;
}


.csMovieShow{
     width: 150px;
    height: 150px;
    background: #494949;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    cursor: pointer;
}

.MovieLogoR{
    width: 80px;
}

.SpaceC3{
    justify-content:flex-end;
    padding: 12px 12px 0 0;
    box-sizing: border-box;
}

.SpaceC4{
    box-sizing: border-box;
    padding: 12px 0 0 12px;
}

.csArtShow{
     width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    cursor: pointer;
    animation: artLogoAnimate 4s infinite;
}

@keyframes artLogoAnimate{
    0%{
        background: #364490;
    }
    50%{
        background: #91b837
    }
    100%{
        background: #364490;
    }
}


.artLogoR{
    width: 85px;
}

.csBookShow,.csBlogShow,.csMovieShow,.csArtShow{
    user-select: none;
    box-shadow: 0 0 18px 0 rgba( 0, 0, 0, 0.3 );
    transform: scale(0) translate(0%,0%);
    transition: 0.2s;
}
#writerLogoR,#blogLogoR,#MovieLogoR,#artLogoR{
    transform: scale(0) translate(0%,0%);
    transition: 0.65s;
}

.csBookShow:hover,.csBlogShow:hover,.csMovieShow:hover,.csArtShow:hover{
    filter: brightness(120%);
    transition: 0.3s;
}

.gallSpace, .marksSpace, .friSpace{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;  
}

.gallMenuHead{
    height: 46px;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    position: relative;
    
}

.friMenuHead{
    height: 46px;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    position: relative;
    
}


.marksMenuHead{
    height: 46px;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    position: relative;
    
}

#gallM1, #gallM2, #gallM3,#gallM4,#gallM0{
    margin: 5px 12px 0px 12px;
    box-sizing: border-box;
    color: #9b9b9b;
    cursor: pointer;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
  
}

#friM1, #friM2,#friM4,#friM0{
   margin: 5px 12px 0px 12px;
    box-sizing: border-box;
    color: #9b9b9b;
    cursor: pointer;
    user-select: none;
    display: flex;
     flex-direction: column;
    align-items: center;
    transition: 0.3s;
}

#marksM1, #marksM2,#marksM3,#marksM4,#marksM0{
    margin: 5px 12px 0px 12px;
    box-sizing: border-box;
    color: #9b9b9b;
    cursor: pointer;
    user-select: none;
    display: flex;
     flex-direction: column;
    align-items: center;
    transition: 0.3s;
}

#marksM0{
     color: #444444;
     position: absolute;
    left: 0;
    bottom: 0px;
    align-content: flex-start;
}

#marksM4{
  
    position: absolute;
    right: 0;
    bottom: 0px;
    align-content: flex-start;

}

.lineGall{
    width: 100%;
    height: 2px;
    background: #d3d3d3;
    position: relative;
    z-index: 0;

}

.lineFri{
    width: 100%;
    height: 2px;
    background: #d3d3d3;
    position: relative;
    z-index: 0;

}

.lineMarks{
    width: 100%;
    height: 2px;
    background: #d3d3d3;
    position: relative;
    z-index: 0;

}

#friM0{
    color: #444444;
     position: absolute;
    left: 0;
    bottom: 0px;
    align-content: flex-start;
}

#friM4{
    position: absolute;
    right: 0;
    bottom: 0px;
    align-content: flex-start;
}

#gallM4{
    position: absolute;
    right: 0;
    bottom: 0px;
    align-content: flex-start;
}
#LineChooseGall{
    width: 90px;
    height: 4px;
    background: #a8a8a8;
    transform: translate(0%,0%);
    transition: 0.3s;
}
#LineChooseFri{
    width: 77px;
    height: 4px;
    background: #a8a8a8;
    transform: translate(0%,0%);
    transition: 0.3s;
    
}

#LineChooseMarks{
    width: 72px;
    height: 4px;
    background: #a8a8a8;
    transform: translate(0%,0%);
    transition: 0.3s;
    
}


#gallM0{
    color: #444444;
     position: absolute;
    left: 0;
    bottom: 0px;
    align-content: flex-start;
}

.edTextG{
    font-size: 20px;
    font-weight: bold;
}

#findRightMenu{
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.findRightMenu{
    height: 25px;
    width: 139px;
    border-radius: 50px;
    border: 5px red;
    outline: none;
   transition: 0.15s;
    padding: 0 12px;
    font-size: 16px;
    margin-right: 12px;
    box-shadow: 0px 0px 0px 3px #bdc4da;
}
.findRightMenu:focus{
    box-shadow: 0px 0px 0px 3px #5472be;
}

 
